* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
body {
  font-family: Lato;
  font-size: 14px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
/* Right navbar */
nav .right {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

nav .left {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

nav .right .list_menu ul {
  display: flex;
  position: relative;
  left: 80%;
  gap: 50px;
}
nav > .right > .list_menu > ul,
li {
  list-style-type: none;
  color: #736f6f;
  font-weight: 600;
}
nav > .right > .list_menu > ul,
li:hover {
  cursor: pointer;
  color: #9ca5b7;
}
/* left navbar */

nav > .left > .list_menu > ul {
  display: flex;
  gap: 50px;
  color: #474747;
  font-weight: 500;
}
nav > .left > .list_menu > ul > li > img .profile_img {
  border-radius: 50%;
}

/* main content */

main {
  width: 85vw;
  padding: 0;
  position: relative;
  margin-top: 15px;
}

main .grid-container {
  display: flex;
  gap: 5px;
  width: 100%;
  margin: 0;
}

.right-container,
.left-container {
  background-color: #f2fdff;
  height: 80vh;
}
.right-container {
  width: 55%;
  padding: 30px 100px;
}
.right-container .right-content {
  width: 30vw;
}
.right-content .options {
  display: inline-flex;
  gap: 15px;
  font-size: 16px;
  width: 100%;
}
.options h4 {
  color: hsl(0, 4%, 67%);
}
.right-container .options .option-flex {
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsl(0, 0%, 41%);
}
.option-flex hr {
  width: 20px;
  border: none;
  height: 1.5px;
  background-color: lightblue;
}

.option-flex img {
  height: 16px;
  width: auto;
}
form {
  padding-top: 40px;
}
form h2 {
  padding-bottom: 20px;
  font-size: 16px;
}
form label {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
  color: #9ca5b7;
}
form .input-container {
  position: relative;
  width: 100%;
}

.input-container img {
  position: absolute;
  left: 92%;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none; /* Ensures the icon doesn't block clicking in the input */
}

form input {
  display: block;
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  background-color: #e6eeff;
  color: #474747;
  border-radius: 4px;
}
form .flex-end {
  display: flex;
  flex-direction: row;
  width: 50%;
  position: relative;
  left: 25%;
  gap: 20px;
  margin: auto;
  padding: 20px auto;
  padding-bottom: 8em;
}
form .flex-end p {
  display: flex;
}

form .flex-end .myBtn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.flex-end .myBtn:hover {
  background-color: darkblue; /* Darker blue on hover for effect */
}
form .bottom {
  padding-top: 30px;
}
.left-container {
  width: 40%;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-container .left-content {
  position: relative;
  right: 10%;
  width: 28vw;
  padding: 20px 0px;
}
.left-container .heading h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.d-block {
  position: absolute;
}

.d-block h4 {
  font-size: 18px;
}
.d-flex .flex-btn {
  display: flex;
  position: relative;
  left: 38%;
  gap: 10px;
}
.flex-btn button {
  padding: 5px 14px;
  font-size: 1.4em;
  background-color: #e6eeff;
  border: none;
}

.order label {
  display: block;
  font-weight: bold;
  color: #9ca5b7;
}

.order-form {
  display: block;
  gap: 0px;
}
.order-flex {
  display: flex;
}
.order-flex input {
  position: absolute;
  padding: 14px 0px;
  width: 76%;
}
.order-flex button {
  padding: 14px 24px;
  position: relative;
  left: 42%;
  background-color: white;
  border: 2px solid rgb(73, 171, 203);
  color: rgb(73, 171, 203);
  border-radius: 8px;
}
.order-flex button:hover {
  cursor: pointer;
  background-color: #9ca5b7;
  color: white;
}

/* Table Styling */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table td {
  padding: 10px 0;
}

strong {
  font-weight: bold;
}
